/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
height: 50px;
width: 500px;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
	width: 100px;

}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

.menicko{
	display: flex;
}
article{
	flex-grow: 2;
}

aside{
	flex-grow: 1;
}

.inside{
	display: flex;
height: 200px;
}