/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
	height: 50px;
}

aside {
	background: beige;
	height: 200px;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

.main{
display: flex;
justify-content: flex-start;
}

article{
	flex-grow: 2;
}
aside{
	flex-grow: 1;
}

nav{
	flex-grow: 1;
}